body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 8px 16px;
  border-radius: 10%;
  cursor: pointer;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}